/*  MEDIA QUERY MANAGER 
min - max
0   - 320px:    iPhone5 small phones
320 - 600px:    normal - is where our normal styles apply
600 - 900px:    atSmall - Tablet portrait
900 - 1200px:   atMedium - Tablet landscape
1200 - 1800px:   atLarge - Desktop
1800 - 2500px :  atXLarge - Big desktop
2500px + :  atXXLarge - Big desktop
*/

/* 1em = 16px  */
/* 0 - 320px */
/* 600 - 900px*/
/* 900 - 1200px */
/* 1200 - 1800px */
/* 1800 - 2500 */
/* 2500px + 3200 */
/* 3200px + */

:root {
  --color-primary: #36D1DC;
  --color-secondary: #5B86E5;
  --color-accent: rgba(247, 102, 45, 0.658);
  --color-grey-light-1: rgba(250, 250, 250, 0.986);
  --color-grey-light-2: rgb(242, 244, 247);
  --color-grey-dark: black;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*   mobile first, default font size is for mobile screens between 320 - 600px  */
  /*   this defines what 1rem is */
  font-size: 55%;
}

@media (max-width: 20em) {
  html {
    font-size: 45%;
  }
}

@media (min-width: 37.5em) {
  html {
    font-size: 58%;
  }
}

@media (min-width: 56.25em) {
  html {
    font-size: 60%;
  }
}

@media (min-width: 75em) {
  html {
    font-size: 63%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 65%;
  }
}

@media (min-width: 156.25em) {
  html {
    font-size: 74%;
  }
}

@media (min-width: 200em) {
  html {
    font-size: 130%;
  }
}


body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  text-transform: uppercase;
  box-sizing: border-box;
  line-height: 1.7;
  color: var(--color-grey-dark);
  background: var(--color-primary);
  background: -webkit-linear-gradient(to right, var(--color-secondary), var(--color-primary));
  background: linear-gradient(to right, var(--color-secondary), var(--color-primary));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.wrapper {
  margin: 0;
  max-width: 100%;
  min-height: 80rem;
  text-align: center;
  /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); */
}

@media only screen and (min-width: 75em) {
  .wrapper {
    background: var(--color-primary);
    background: -webkit-linear-gradient(to right, var(--color-secondary), var(--color-primary));
    background: linear-gradient(to right, var(--color-secondary), var(--color-primary));
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    max-width: 103rem;
    margin: 0rem auto 2rem auto;
  }
}

.header {
  display: grid;
  margin: 4px auto 0 auto;
  max-width: 80rem;
  height: 10rem;
  background-color: var(--color-grey-light-2);
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2);
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center center;

}

.logo {
  height: 7.3rem;
  margin: 2rem 0 4rem 0;
}

.btn {
  color: white;
  background-color: var(--color-accent);
  border-radius: 4px;
  padding: 1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-top: -3rem;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
}


.btn--start {
  margin-left: -5rem;
}


.btn--refresh {
  background-color: var(--color-secondary);
}

.btn--reset {
  background-color: var(--color-primary);
}


.btn--use {}

#btn--clipboard {
  border-radius: 4px;
  background-color: var(--color-primary);
  margin-bottom: -1rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.btn-slider {
  margin: 1rem 0 0 -6rem;
}

@media only screen and (min-width: 75em) {
  .wrapper {}
}


h1 {
  margin-top: -2.2rem;
}

.btn,
.btn:link,
.btn:visited {
  margin: 2rem .5rem 2rem 0;
  text-transform: uppercase;
  text-decoration: none;
  padding: .5rem 1rem;
  display: inline-block;
  border-radius: 4px;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.patient-information {
  margin: 2rem auto 0 auto;
  max-width: 80rem;
  height: 30rem;
  background-color: var(--color-grey-light-2);
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2);
}




/* ********* iPhone slider button style START *********** */
#btn-label--fast {
  margin-left: 7.4rem;
}


.Slider__Bg {
  display: inline-block;
  background-color: var(--color-primary);
  width: 60px;
  height: 30px;
  border-radius: 20px;
  margin: 0;
  padding: -1.28px;
  transition: 0.25s;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.Slider__Btn {
  display: block;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.65);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.Slider__Bg-active {
  background-color: rgba(247, 102, 45, 0.76);
}

.Slider__Btn-active {
  margin: 0 0 0 30px;
}

#idSlideBtn {
  transition: 0.25s;
}

/* ********** iPhone slider button style END *********** */





/********** Stop-watch style START *********** */
.main {
  margin: 0 auto;
  max-width: 80rem;
  height: 33rem;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2);
}

.stop-watch {
  display: grid;
  grid-template-columns: 2fr 5fr;
  place-items: center center;
}

.stop-watch__timer {
  margin-left: -9rem;
  margin-top: 1rem;
  font-size: 4rem;
}

.stop-watch__reset {
  margin-top: 3.5rem;
  margin-left: 3px;
}

.stop-watch__btn {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center center;
}

.stop-watch-tests {
  height: 9rem;
}



/********** Stop-watch style END *********** */


.btn--submit {
  background-color: var(--color-secondary);
  margin: 0 auto;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 3rem;
}



.transcript {
  text-align: center;
  margin: 0 auto;
  max-width: 80rem;
  height: 9.8rem;
  background-color: var(--color-grey-light-2);
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 37.5em) {
  .transcript {}
}

.hidden2 {
  display: none;
}

.hidden {
  text-align: center;
  display: none;
}

.submit-copy {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center center;
}

.patient-transcript {
  margin: 0 auto;
}