<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="robots" content="noimageindex, noindex, nofollow, noarchive">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"> -->
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">
  <title>10 Meter Walk Test</title>
</head>

<body>

  <script>
    function formSubmit() {
    document.forms["myForm"].submit();
  }
</script>
  <div class="wrapper">
    <section class="patient-information">
      <button class="btn-refresh" value="Refresh Page" onClick="window.location.reload()">New Test</button>
      <img src="assets/images/logo.png" alt="10MW logo" class="logo">
      <H1>10 METER WALK TEST</H1>

      <form name="myForm" action="/action_page" method="get">
        First name: <input type="text" id="first-name" name="fname"><br><br>
        Last name: <input type="text" id="last-name" name="lname"><br><br>
        <label for="DOB">Date Of Birth:</label>
        <input type="date" id="DOB" name="date-of-birth" value="1980-09-01" min="1950-01-01" max="2019-02-20"><br><br>

        <div class="App">
          <label id="btn-label--normal" for="normal">Normal</label>
          <div id="idSlideBg" class="Slider__Bg" onclick="sliderBgOnClick()">
            <div id="idSlideBtn" class="Slider__Btn" />
          </div>
          <label id="btn-label--fast" for="fast">Fast</label>
        </div>
      </form>
    </section>


    <section class="stop-watch">
      <div class="stop-watch__timer">00 : 00 . 000</div>
      <div>
        <button class="stop-watch__toggle">Start</button>
        <button class="stop-watch__reset">Reset</button>
        <button type="submit" class="stop-watch__use">Use</button>
      </div>

      <div class="stop-watch-tests">
      </div>

      <button type="submit" class="test__finalize">Finalize</button>
    </section>


    <section class="transcript">

      <textarea name="patient-transcript" class="hidden patient-transcript" cols="60" rows="5"></textarea>
      <!-- <input id="input" type="text" /> -->
      <button class="hidden2 copy">Copy to clipboard</button>
      <script>

      </script>
    </section>

  </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>
<script src=" js/main.js"> </script>
</body>

</html>